strict-ssl=false
//nexus.devops.core.cloud-cobiscorp.com:8000/repository/npm-group/:username=abucheli
//nexus.devops.core.cloud-cobiscorp.com:8000/repository/npm-group/:_password="UGFzc3cwcmQ="
registry=https://nexus.devops.core.cloud-cobiscorp.com:8000/repository/npm-group/
YWJ1Y2hlbGk6UGFzc3cwcmQ=
