.product-list-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.product-list-container h2 {
    margin-bottom: 20px;
}

.product-list {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px 12px;
    min-width: 100px; /* Ajusta el ancho mínimo de las celdas */
}

table th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

table td button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

table td button:hover {
    background-color: #0056b3;
}
